div {
  color: red;
  border: 10px solid black;
  display: flex;
}

.rimg {
  background-image: url('../assets/react.jpg');
  width: 200px;
  height: 200px;
  background-size: 100%;
}
.vimg {
  background-image: url('../assets/vue.png');
  width: 200px;
  height: 200px;
  background-size: 100%;
}
